.center {
    /*border: 1px solid black;*/
}

img {
    display: block;
    /*border: 2px solid black;*/
    margin: 0 auto;
}

.search-bar input {
    display: block;
    height: 44px;
    width: 582px;
    margin: 0 auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search-bar input:hover {
    box-shadow: 0 1px 6px 0 rgb(204, 204, 204);
}
