body {
    font-family: arial, sans-serif;
}

.center {
    /*border: 1px solid black;*/
}

nav {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #535353;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 8px;
    cursor: pointer;
}

nav ul.left-nav {
    
}

nav ul.right-nav {
   
}

#apps-menu-icon {
    height: 16px;
    width: 16px;
    opacity: 0.5;
    margin: 15px 0 0 0;
}

#google-logo {
    display: block;
    margin: 0 auto;
}

button {
    background-color: #4387fd;
    border: 1px solid #4387fd;
    height: 30px;
    width: 70px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.search-bar input {
    display: block;
    height: 44px;
    width: 582px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-image: url('http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-size: 24px; 
}

.search-bar input:hover {
    box-shadow: 0 1px 6px 0 rgb(204, 204, 204);
}

.search-buttons {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.search-button {
    min-width: 54px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    padding: 0 16px;
    margin: 11px 4px;
    font-family: arial, sans-serif;
}

.search-button:hover {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px #c6c6c6;
}
